@model CdMgr.Core.Entities.Company
<form asp-action="Add">
    <div>
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" />
        <span asp-validation-for="CompanyName"></span>
    </div>
    <div>
        <label asp-for="Director"></label>
        <input asp-for="Director" />
        <span asp-validation-for="Director"></span>
    </div>
    <input type="text" asp-for="Id" hidden />
    <input type="submit" value="Hinzufügen" />
</form>